/* base start */
body,
dd,
div,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
li,
ol,
p,
textarea,
ul {
  margin: 0;
  padding: 0;
}

body,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p {
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-text-size-adjust: none;
  padding: 0;
  margin: 0;
  background-color: rgba(248, 249, 250, 1) !important;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 400;
  font-size: 100%;
}

em,
i {
  font-style: normal;
}

li,
ol,
ul {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

button,
input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

img {
  vertical-align: text-top;
  border: none;
}

textarea {
  resize: none;
}

a,
img {
  -webkit-touch-callout: none;
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  border-radius: 0;
}

input {
  outline: 0;
  border: 0;
}
/* base end */

#app {
  font-size: 16px;
}
.ml15 {
  margin-left: 15px;
}

/* loading start */
.loading__bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgb(248, 249, 250);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading__border {
  display: inline-block;
  width: 80px;
  height: 80px;
  vertical-align: -40px;
  border: 5px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 0.75s linear infinite loading__border;
  animation: 0.75s linear infinite loading__border;
  color: rgba(220, 53, 69, 1);
}
@-webkit-keyframes loading__border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loading__border {
  to {
    transform: rotate(360deg);
  }
}
.loading__content {
  position: absolute;
  font-size: 18px;
  color: rgba(220, 53, 69, 1);
}
/* loading end */

/* header start */
.nav {
  width: 100%;
  text-align: center;
}
.nav__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.nav__title-content {
  font-size: 30px;
  font-weight: bold;
}
.nav__title-github {
  display: inline-flex;
}
.nav__sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__select-container {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.nav__select {
  cursor: pointer;
  padding: 6px 36px 6px 12px;
  -moz-padding-start: 9px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
/* header end */

/* echarts start */
.chart-container {
  position: relative;
  width: 80%;
  height: 80vh;
  margin: 2vh auto auto;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  .nav__label {
    display: none;
  }
  .chart-container {
    width: 84%;
  }
}
/* echarts end */
